* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

// Grid Styling
.grid-container {
  width: 50vw;
  display: grid;
  border: solid 2px black;

  .grid-columns {
    display: grid;

    .grid-column-header {
      list-style: none;
      border: solid 2px red;
    }

    .grid-column-value {
      max-width:300px;
      list-style: none;
      border: solid 2px blue;
      text-overflow: ellipsis;
    }
  }
}
